<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a [routerLink] = "['/']" class="brand-logo"><i class="fa fa-rocket"></i> NgBlog</a>
            <ul class="right">
                <li routerLinkActive = 'active'  [routerLinkActiveOptions] = "{ exact: true }"><a [routerLink] = "['/']">Home</a></li>    
                <li routerLinkActive = 'active'  [routerLinkActiveOptions] = "{ exact: true }"><a [routerLink] = "['/posts/new']">New Post</a></li>                    
                <li routerLinkActive = 'active' [routerLinkActiveOptions] = "{ exact: true }"><a [routerLink] = "['/posts']">Posts</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>                       
    </div>   
</div>