<div class="col offset-m2 m8 s12">
    <div class="card">
        <div class="card-content">
            <div class="card-title center-align">
                New Post
            </div>
            <form [formGroup] = "myForm" (ngSubmit)="onSubmit()">
                <div class="input-field">
                    <label>Title</label>
                    <input formControlName = "title" type="text" name="title">
                </div>
                <div class="input-field">
                    <label>Body</label>
                    <textarea formControlName = "body" class="materialize-textarea" name="body" rows="10"></textarea>
                </div>
                <div class="input-field">
                    <label>Image</label>
                    <input formControlName = "image" type="text" name="image">
                </div>                       
                <div class="input-field" formArrayName="tags">
                    <div *ngFor="let tag of tags.controls; let i = index">
                        <input placeholder="Tag" type="text" formControlName="{{ i }}">
                    </div>
                    <button type="button" (click) = "onAddTag()" class="btn btn-small green">Add</button>
                </div>   
                <div class="input-field">
                    <button type="submit" [disabled] = "!myForm.valid" class="btn green">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>